@font-face {
  font-family: 'pricedown';
  src: url('/pricedown.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    width: 100%;
    height: 100%;
    font-family: 'pricedown', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }
  
  * {
    font-family: 'pricedown', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }
}